.container{
    margin: 120px auto;
    position: relative;
    width: 360px;
    height: 400px;
}


.container .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.container .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
}

.container .front img{
    position: absolute;
    left: 0%;
    width: 100%;
    height: 100%;
}

.container .front h3{
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    text-align: center;
}


.container .back{
    transform: perspective(600px) rotateY(180deg);
    background-image: url("../Images/gc.gif");
    padding: 15px;
    color: black;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px black;
}

.container .back h3{
    font-size: 30px;
    margin-top: 20px;
    padding-bottom: 60px;
    letter-spacing: 2px;
    color: white;
}

.container .back p{
    letter-spacing: 2px;
    font-size: 25px;
    color: white;
}


.container:hover .front{
    transform: perspective(600px) rotateY(180deg);
    cursor: pointer;
}

.container:hover .back{
    transform: perspective(600px) rotateY(360deg)
}