.loaderContainer{
    display: flex;
    justify-content: center;
    padding: 4%;
    position: relative;
}

.loader{
    background-image:url("../Images/loading2.gif");
    background-size: 350px;
    background-position:center;
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
    font-size: 25px;
    border-radius: 200px;
    border-style: solid;
    border-width: 1px;
    position: absolute;   
}

.loader p{
    padding-top: 30px;
}