.container{
    background-color: rgba(123, 240, 255, 0.8);
    margin: 70px auto;
    width: 700px;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    height: 530px;
    position: relative;
}


.formContainer form{
    display: grid;
    grid-template-columns: 470px;
    margin-top: 1%;
    align-items: center;
    justify-content: center;
}


.inputCont{
    display: flex;
    margin-top: 1.5%;
}

.inputCont label{
    margin-left: 00%;
    width: 180px;
    font-size: 18px;
    font-weight: bold;
}

.inputCont input{
    width: 230px;
    margin-top: 0%;
    height: 25px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;

}


.selected{
    position: relative;
    display: flex;
    justify-content: center;
    height: 40px;
    margin-top: 10px;
    flex-wrap: wrap;

}


.containerType{
    position: absolute;
    background-color: rgba(75, 32, 145, 0.8);
    color: white;
    position: relative;
    display: block;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin-left: 10px;
    margin-bottom: 5px;
    text-align: center;
    justify-content: baseline;
    width: 140px;
    height: 57%;
    font-size: 15px;
    border-radius: 5px;
}


.containerType span{
    width: 15px;
    height: 15px;
    background-color: rgb(190, 35, 35);
    float: right;
    border-top: 0%;
    font-size: 12px;
    color: white;
    text-align: center;
    cursor: pointer;
}


.errorCont{
    display: flex;
    margin-left: 40%;
}

.errors{
    color: red;
    font-weight: bold;
    font-size: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.formContainer button{
    position: absolute;
    bottom: 7%;
    left: 40%;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    font-size: 19px;
}

.formContainer button:hover:enabled{
    background-color: rgb(35, 209, 35);
    cursor: pointer;
}

.selectedTemps{
    width: 230px;
}