.currentPage{
    background-color: rgb(28, 245, 173);
    cursor: pointer;
    border-radius: 15px;
    height: 25px;
    width: 25px;
    border-width: 1px;
}

.buttonPage{
    cursor: pointer;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    border-width: 1px;  
    font-size: 13px;
}



.des{
    background-color: green;
}

.bOn{
    background-color: transparent;
    cursor: pointer;
    border-width: 0px;
    border-style: solid;
    font-size: 21px;
    font-weight: bold;
}

.bOff{
    background-color: transparent;
    border-style: solid;
    border-width: 0px;
    font-size: 21px;
    font-weight: bold;
}

.cont{
    display: flex;
    column-gap: 5px;
    justify-content: center;
}