.currentPage{
    background-color: rgb(245, 223, 28);
    cursor: pointer;
    border-radius: 15px;
    height: 25px;
    width: 25px;
    border-width: 1px;
}

.buttonPage{
    cursor: pointer;
    border-radius: 15px;
    height: 25px;
    width: 25px;
    border-width: 1px;  
}

.next{
    background-color: red;
}

.des{
    background-color: green;
}